<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="${ws.runtime.logfile}"/>
		<param name="maxBackupIndex" value="5"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %t %c{1} %d{yyyyMMdd-HHmmss.SSS} - %m%n"/>
		</layout>
	</appender>
  
  <root>
    <level value="ERROR"/>
    <appender-ref ref="FILE"/>
  </root>  

</log4j:configuration>
